/*Color Palette based on avatar - used CSS variables to help follow the DRY method*/
:root {
    --primary-color: #333333;
    --secondary-color: #414141;
    --background-color: #298F85;
    --accent-color: #CFCFCF;
    --text-color: #F0A360;
    --max-width: 800px;
    --border-radius: 10px;
    --box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    --margin-bottom: 20px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, var(--primary-color), var(--background-color), var(--accent-color)); /* Makes the gradient background and uses CSS variables*/
}

header {
    background: linear-gradient(to left, var(--secondary-color), var(--primary-color)); /* Makes the gradient background and uses CSS variables */
    background-color: var(--primary-color);
    padding: 10px;
}

/*Navigation Bar Styling*/
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a:hover {
    color: var(--accent-color);
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease;
}


/*Hero Section Styling*/
section#hero {
    padding: 20px;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    height: 400px;
    margin-top: 40px;
    margin-bottom: var(--margin-bottom);
    width: 80%;
    justify-content: space-between;
}

.hero-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 8px solid var(--text-color);
    object-fit: cover;
    position: relative;
    left: 50%;
}

#hero .hero-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section#hero h1 {
    text-align: center;
}

/*Element Selectors*/
article {
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    font-size: 14px;
}

h3, p {
    text-align: center;
    color: var(--accent-color);
    padding-top: 2px;
    padding-left: 5px;
}

h1 {
    font-size: 40px;
    color: var(--accent-color);
}

h2, h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    color: var(--text-color);
}

h2 {
    text-align: center;
}

section {
    padding: 20px;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    max-width: 600px;
}

/*About Me*/
section#about-me {
    margin-bottom: var(--margin-bottom);
}


/*"My Work" Styling*/
.work-item {
    display: flex;
    align-items: center;
    max-width: 600px;
    margin-bottom: 0;
}

.work-item a:hover .image-overlay {
    opacity: 1;
}

/*Image Syling*/
.image-container {
    position: relative;
    color: var(--accent-color);
}

.image-container img {
    border-radius: var(--border-radius);
    max-width: 100%;
    height: auto;
    box-shadow: var(--box-shadow);  
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(72, 78, 78, 0.5);
    opacity: 0;
    transition: 0.3s ease;
    border-radius: var(--border-radius);
}

.text-block {
    display: flex;
    text-align: center;
    flex-wrap: nowrap;
    bottom: 20px;
    right: 20px;
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

/*Contact Me Section*/
section#contact-me {
    margin-bottom: 20px;
}

footer {
    background-color: var(--primary-color);
    padding: 20px;
    color: var(--text-color);
    font-size: 14px;
    text-align: center;
}

footer p {
    margin-bottom: 10px;
}

.container {
    max-width: var(--max-width);
    margin: 0 auto;
}


@media screen and (max-width: 992px) {
    section {
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
    section {
        width: 90%;
        margin: 0 auto;
    }
}

 
