/*Color Palette based on avatar - used CSS variables to help follow the DRY method*/
:root {
    --primary-color: #333333;
    --secondary-color: #414141;
    --background-color: #298F85;
    --accent-color: #CFCFCF;
    --text-color: #F0A360;
    --max-width: 800px;
    --border-radius: 10px;
    --box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, var(--primary-color), var(--background-color), var(--accent-color)); /* Makes the gradient background and uses CSS variables*/
}

header {
    background: linear-gradient(to left, var(--secondary-color), var(--primary-color)); /* Makes the gradient background and uses CSS variables */
    background-color: var(--primary-color);
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a:hover {
    color: var(--accent-color);
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.hero, 
section#hero {
    padding: 20px;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin-bottom: 30px;
    width: 80%;
    justify-content: center;
}

section {
    padding: 20px;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    max-width: 600px;
}

.section-content {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

#my-work .section-content {
    display: grid;
    grid-template-columns: repeat(2, 1ft);
    grid-gap: 20px;
}

p {
    font-size: 14px;
}

h1, h2, h3, p {
    text-align: center;
    color: var(--accent-color);
    padding-top: 2px;
    padding-left: 5px;
}

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px 0;
    color: var(--primary-color);
    box-shadow: var(--box-shadow);
}

.hero-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 8px solid var(--text-color);
    object-fit: cover;
    margin-bottom: 20px;
    position: relative;
    left: 50%;
}

.hero .hero-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 40px;
    padding-top: 48px;
    color: var(--accent-color);
}

h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    color: var(--text-color);
}

.work-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 600px;
    margin-bottom: 0;
}

.image-container {
    position: relative;
    text-align: center;
    color: var(--accent-color);
}

.image-container img {
    border-radius: var(--border-radius);
    max-width: 100%;
    height: auto;
    box-shadow: var(--box-shadow);
    transition: 0.3s ease;  
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(72, 78, 78, 0.5);
    opacity: 0;
    transition: 0.3s ease;
    border-radius: var(--border-radius);
}

.work-item a:hover .image-overlay {
    opacity: 1;
}

.text-block {
    display: flex;
    text-align: center;
    flex-wrap: nowrap;
    bottom: 20px;
    right: 20px;
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

footer {
    background-color: var(--primary-color);
    padding: 20px;
    color: var(--text-color);
    font-size: 14px;
    text-align: center;
}

footer p {
    margin-bottom: 10px;
}

.container {
    max-width: var(--max-width);
    margin: 0 auto;
}


@media screen and (max-width: 992px) {
    section {
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
    section {
        width: 90%;
        margin: 0 auto;
    }
}

section:not(:last-child) {
    margin-bottom: 40px;
} 